Repository Princekumar1291/AYUSH-Startup-Portal: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "cd frontend && prettier --write",
        "cd frontend && eslint --fix",
        "cd frontend && eslint"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}

feat: Github workflow added
  .github/workflows/lint.yml
  backend/.prettierrc
  backend/eslint.config.mjs
  backend/eslintrc.json
  backend/package-lock.json
  backend/package.json
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/redux/store.jsx
  frontend/tailwind.config.js
  frontend/vite.config.js
  package.json
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

fix: linting error fixed
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package.json
  package-lock.json
  package.json
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

fix: Added eslint in backend dev dependencies
  backend/package-lock.json
  backend/package.json
Due: prettier --write

fix: Updated the github workflow configuration
  .github/workflows/lint.yml
  package-lock.json
  package.json
Due: none

fix: Fixed the github workflow error
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

fix: Updated github workflow
  .github/workflows/lint.yml
Due: none

fix: Added required dependencies
  backend/package-lock.json
  backend/package.json
Due: prettier --write

added server.js
  backend/routes/router.js
  backend/server.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

dasy ie npm added
  package-lock.json
  package.json
Due: none

dasy ie npm added default theme white
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Home/Home.jsx
  frontend/tailwind.config.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

added packages
  backend/package-lock.json
  backend/package.json
  backend/routes/routes.js
  backend/server.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

added prisma
  backend/.env
  backend/prisma/schema.prisma
Due: none

added shadCn
  frontend/components.json
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/index.css
  frontend/src/lib/utils.js
  frontend/tailwind.config.js
  frontend/vite.config.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

feat: Added dashboard and other pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/ui/card.jsx
  frontend/src/components/ui/input.jsx
  frontend/src/components/ui/label.jsx
  frontend/src/components/ui/progress.jsx
  frontend/src/components/ui/select.jsx
  frontend/src/components/ui/separator.jsx
  frontend/src/components/ui/textarea.jsx
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/Dashboard/Dashboard.jsx
  frontend/src/pages/DocumentUpload/DocumentUpload.jsx
  frontend/src/pages/FAQ/FAQ.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

prisma client migrated generated
  backend/.env
  backend/prisma/migrations/20240917060709_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
Due: none

feat: Added home page
  frontend/src/pages/Home/Home.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

feat: Configured backend for register and login
  backend/.env
  backend/config/env.js
  backend/controllers/auth.controller.js
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.route.js
  backend/routes/routes.js
  backend/schemas/auth.schema.js
  backend/server.js
  backend/utils/hash.js
  backend/utils/jwt.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

feat: Changed register schema
  backend/controllers/auth.controller.js
  backend/schemas/auth.schema.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

comit
  backend/config/db.js
  backend/controllers/user_login.js
  backend/controllers/user_register.js
  backend/routes/auth.route.js
  backend/routes/routes.js
  backend/server.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

added middleware
  backend/middlewares/AuthMiddleware.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

add navbar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Carousel/Carousel.jsx
  frontend/src/components/Navbar/.gitkeep
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/ui/carousel.jsx
  frontend/src/components/ui/dropdown-menu.jsx
  frontend/src/pages/Main/Main.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

added otp verification
  backend/.env
  backend/controllers/auth.controller.js
  backend/controllers/send_otp.js
  backend/controllers/user_login.js
  backend/controllers/user_register.js
  backend/package-lock.json
  backend/package.json
  backend/routes/routes.js
  backend/utils/getotp.js
  backend/utils/mailservice.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

feat: Added landing page
  frontend/src/components/Carousel/Carousel.jsx
  frontend/src/components/LandingPage/CTA/CTA.jsx
  frontend/src/components/LandingPage/Features/Features.jsx
  frontend/src/components/LandingPage/Footer/Footer.jsx
  frontend/src/components/LandingPage/HeroSection/HeroSection.jsx
  frontend/src/components/LandingPage/Testimonial/Testimonial.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Main/Main.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

added footer
  frontend/src/Data/footer-llink.jsx
  frontend/src/components/Footer/Footer.jsx
  frontend/src/pages/Main/Main.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

feat: Added login and signup page
  frontend/src/App.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/SignUp/SignUp.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

added
  frontend/src/components/Navbar/Navbar.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

added footer details
  frontend/src/Data/footer-llink.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

feat: Added others field in register page
  frontend/src/pages/SignUp/SignUp.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

added navbar route
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/LandingPage/HeroSection/HeroSection.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/ui/accordion.jsx
  frontend/src/pages/About/About.jsx
  frontend/src/pages/Help/Help.jsx
  frontend/src/pages/Main/Main.jsx
  frontend/tailwind.config.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

added
  backend/.env
  backend/controllers/send_otp.js
  backend/controllers/user_login.js
  backend/controllers/user_register.js
  backend/prisma/migrations/20240917122011_updation/migration.sql
  backend/prisma/schema.prisma
  backend/routes/routes.js
  backend/utils/mailservice.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/pages/OtpVerify/OtpVerify.jsx
  frontend/src/pages/SignUp/SignUp.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

added fie
  backend/package-lock.json
  backend/package.json
  backend/server.js
  frontend/src/pages/Login/Login.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

ssdf
  backend/.env
  backend/controllers/send_otp.js
  backend/controllers/user_login.js
  backend/utils/mailservice.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

SDfsdf
  backend/controllers/send_otp.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

feat: Configured the protected and public routes
  backend/controllers/send_otp.js
  backend/controllers/user_login.js
  backend/package-lock.json
  backend/server.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

feat: Configured the protected and public routes
  frontend/src/App.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/PrivateRoutes/PrivateRoutes.jsx
  frontend/src/components/PublicRoutes/PublicRoutes.jsx
  frontend/src/main.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Main/Main.jsx
  frontend/src/pages/OtpVerify/OtpVerify.jsx
  frontend/src/pages/SignUp/SignUp.jsx
  frontend/src/redux/authSlice.js
  frontend/src/redux/store.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

sdf
  frontend/src/pages/OtpVerify/OtpVerify.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

DSf
  frontend/src/pages/Login/Login.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

added image
  frontend/src/assets/bg.jpg
  frontend/src/components/LandingPage/HeroSection/HeroSection.jsx
  frontend/tailwind.config.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint

feat: Added login, register and logout functionality
  backend/.gitignore
  backend/controllers/send_otp.js
  backend/controllers/user_login.js
  backend/controllers/user_register.js
  backend/package-lock.json
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/PrivateRoutes/PrivateRoutes.jsx
  frontend/src/lib/getCookie.js
  frontend/src/main.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/OtpVerify/OtpVerify.jsx
  frontend/src/pages/SignUp/SignUp.jsx
  frontend/src/redux/authSlice.js
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint, prettier --write

feat: Proper error message added
  frontend/src/pages/Login/Login.jsx
Due: cd frontend && prettier --write, cd frontend && eslint --fix, cd frontend && eslint
